xdtoservices-api/src/main/resources/schemas/xdtoservices/xdtoservices.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:core="urn:ru:ilb:xdtoservices:core"
    xmlns:enterprise="urn:ru:ilb:xdtoservices:enterprise"
>
	 
    <doc title="xdtoservices API">
        xdtoservices API
    </doc>
    <grammars>
        <include href="core.xsd" />
        <include href="enterprise.xsd" />
    </grammars>
	
    <resources base="http://localhost:8080/xdtoservices/web">
        <resource path="metadata">
            <resource path="xmlSchema">
                <method name="GET" id="exportXMLSchema">
                    <request>
                        <param name="uriNamespace" type="xsd:string" style="query">
                            <doc>uriNamespace</doc>
                        </param>
                    </request>
                    <response status="200">
                        <representation mediaType="application/xml" />
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="catalogs">
            <resource path="{catalogName}">
                <param name="catalogName" type="xsd:string" style="template">
                    <doc>catalog name</doc>
                </param>
                <method name="GET" id="list">
                    <doc>get catalog contents</doc>
                    <response status="200">
                        <representation mediaType="application/xml" />
                    </response>
                </method>
                <method name="POST" id="create">
                    <doc>create new document instance</doc>
                    <request>
                        <representation mediaType="application/xml" />
                    </request>
                    <response>
                        <representation mediaType="text/plain" element="core:UUIDType">
                            <doc>UUID of created object</doc>
                        </representation>
                    </response>
                </method>
                <resource path="findByAttribute">
                    <method name="GET" id="findByAttribute">
                        <doc>
                            Осуществляет поиск элемента по значению реквизита. Примечание: Если
                            существует несколько элементов с указанным значением реквизита, то будет
                            найдет только один из них. Для реквизитов типа Строка поиск
                            осуществляется по точному соответствию
                        </doc>
                        <request>
                            <param name="attributeName" type="xsd:string" style="query">
                                <doc>
                                    Имя реквизита, как он задан в конфигураторе, по значению
                                    которого осуществляется поиск.
                                </doc>
                            </param>
                            <param name="attributeValue" type="xsd:string" style="query">
                                <doc>
                                    Значение реквизита, по которому должен выполняться поиск
                                </doc>
                            </param>
                            <param name="attributeValueRef" type="xsd:string" style="query">
                                <doc>
                                    Для поиска по аттрибуту, значением которого является ссылка на объект,необъодимо передавать тип объекта,
                                    например CatalogRef.Организации.
                                    При этом в attributeValue должен быть UUID объекта.
                                </doc>
                            </param>
                        </request>
                        <response status="200">
                            <representation mediaType="application/xml" />
                        </response>
                    </method>
                </resource>
                <resource path="findRefByAttribute">
                    <method name="GET" id="findRefByAttribute">
                        <doc>
                            Осуществляет поиск элемента по значению реквизита. Примечание: Если
                            существует несколько элементов с указанным значением реквизита, то будет
                            найдет только один из них. Для реквизитов типа Строка поиск
                            осуществляется по точному соответствию
                        </doc>
                        <request>
                            <param name="attributeName" type="xsd:string" style="query">
                                <doc>
                                    Имя реквизита, как он задан в конфигураторе, по значению
                                    которого осуществляется поиск.
                                </doc>
                            </param>
                            <param name="attributeValue" type="xsd:string" style="query">
                                <doc>
                                    Значение реквизита, по которому должен выполняться поиск
                                </doc>
                            </param>
                            <param name="attributeValueRef" type="xsd:string" style="query">
                                <doc>
                                    Для поиска по аттрибуту, значением которого является ссылка на объект,необъодимо передавать тип объекта,
                                    например CatalogRef.Организации.
                                    При этом в attributeValue должен быть UUID объекта.
                                </doc>
                            </param>
                        </request>
                        <response status="200">
                            <representation mediaType="text/plain" element="core:UUIDType">
                                <doc>UUID of found object</doc>
                            </representation>
                        </response>
                    </method>
                </resource>
                <resource path="findByCode">
                    <method name="GET" id="findByCode">
                        <doc>
                            Осуществляет поиск элемента по его коду
                        </doc>
                        <request>
                            <param name="code" type="xsd:string" style="query">
                                <doc>
                                    Искомый код.
                                </doc>
                            </param>
                        </request>
                        <response status="200">
                            <representation mediaType="application/xml" />
                        </response>
                    </method>
                </resource>                
                <resource path="findByDescription">
                    <method name="GET" id="findByDescription">
                        <doc>
                            Осуществляет поиск элемента по его наименованию. Примечание: Если существует несколько элементов 
                            с указанным наименованием, то будет найден только один из них.
                        </doc>
                        <request>
                            <param name="description" type="xsd:string" style="query">
                                <doc>
                                    Значение реквизита, по которому должен выполняться поиск
                                </doc>
                            </param>
                            <!--                            <param name="useStartWith" type="xsd:boolean" style="query">
                                <doc>
                                    Определяет режим поиска по полному соответствию. Поиск будет успешным, если строка поиска:
                                    в случае значения параметра Ложь - будет соответствовать левой части наименования; 
                                    в случае значения параметра Истина - будет полностью совпадать с наименованием (за исключением "хвостовых" пробелов в наименовании).
                                </doc>
                            </param>-->
                        </request>
                        <response status="200">
                            <representation mediaType="application/xml" />
                        </response>
                    </method>
                </resource>
                <resource path="findRefByDescription">
                    <method name="GET" id="findRefByDescription">
                        <doc>
                            Осуществляет поиск элемента по его наименованию. Примечание: Если существует несколько элементов 
                            с указанным наименованием, то будет найден только один из них.
                        </doc>
                        <request>
                            <param name="description" type="xsd:string" style="query">
                                <doc>
                                    Значение реквизита, по которому должен выполняться поиск
                                </doc>
                            </param>
                            <!--                            <param name="useStartWith" type="xsd:boolean" style="query">
                                <doc>
                                    Определяет режим поиска по полному соответствию. Поиск будет успешным, если строка поиска:
                                    в случае значения параметра Ложь - будет соответствовать левой части наименования; 
                                    в случае значения параметра Истина - будет полностью совпадать с наименованием (за исключением "хвостовых" пробелов в наименовании).
                                </doc>
                            </param>-->
                        </request>
                        <response status="200">
                            <representation mediaType="text/plain" element="core:UUIDType">
                                <doc>UUID of found object</doc>
                            </representation>
                        </response>
                    </method>
                </resource>
                <resource path="template">
                    <method name="GET" id="getTemplate">
                        <doc>get catalog item by uid</doc>
                        <response status="200">
                            <representation mediaType="application/xml" />
                        </response>
                    </method>
                </resource>
                <resource path="{uid}">
                    <param name="uid" type="core:UUIDType" style="template">
                        <doc>catalog item uid</doc>
                    </param>
                    <method name="GET" id="find">
                        <doc>get catalog item by uid</doc>
                        <response status="200">
                            <representation mediaType="application/xml" />
                        </response>
                    </method>
                    <method name="PUT" id="edit">
                        <doc>edit catalog object</doc>
                        <request>
                            <representation mediaType="application/xml" />
                        </request>
                        <response status="204"/>
                    </method>
                    <method name="DELETE" id="remove">
                        <doc>remove catalog instance</doc>
                        <response status="204"/>
                    </method>
                </resource>                
            </resource>
        </resource>
        <resource path="documents">
            <doc>
                documents resource
            </doc>
            <resource path="{documentName}">
                <param name="documentName" type="xsd:string" style="template">
                    <doc>document name</doc>
                </param>
                <method name="GET" id="list">
                    <doc>List of documents</doc>
                    <request>
                        <param name="dateStart" type="xsd:date" style="query"/>
                        <param name="dateEnd" type="xsd:date" style="query"/>
                    </request>
                    <response status="200">
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
                <method name="POST" id="create">
                    <doc>create new document instance</doc>
                    <request>
                        <param name="load" type="xsd:boolean" style="query">
                            <doc>
                                Если значение данного свойства Истина, то при выполнении записи 
                                или удаления данных будет производиться минимум проверок, так как 
                                при этом делается предположение, что производится запись данных, 
                                полученных через механизмы обмена данными, и эти данные корректны.
                            </doc>
                        </param>
                        <param name="writeMode" type="enterprise:DocumentWriteMode" default="Write" style="query">
                            <doc>
                                Позволяет выбрать один из возможных режимов записи. (Значение по умолчанию: Запись )
                            </doc>
                        </param>
                        <param name="postingMode" type="enterprise:DocumentPostingMode" default="Regular" style="query">
                            <doc>
                                Позволяет выбрать один из возможных режимов проведения. Значение по умолчанию: Неоперативный (Regular)
                            </doc>
                        </param>
                        <representation mediaType="application/xml" />
                    </request>
                    <response>
                        <representation mediaType="text/plain" element="core:UUIDType">
                            <doc>UUID of created object</doc>
                        </representation>
                    </response>
                </method>
                <resource path="template">
                    <method name="GET" id="getTemplate">
                        <doc>get catalog item by uid</doc>
                        <response status="200">
                            <representation mediaType="application/xml" />
                        </response>
                    </method>
                </resource>
                
                <resource path="{uid}">
                    <param name="uid" type="core:UUIDType" style="template">
                        <doc>document uid</doc>
                    </param>
                    <method name="GET" id="find">
                        <doc>get document instance</doc>
                        <response status="200">
                            <representation mediaType="application/xml" />
                        </response>
                    </method>
                    <method name="PUT" id="edit">
                        <doc>edit document instance</doc>
                        <request>
                            <param name="load" type="xsd:boolean" style="query">
                                <doc>
                                    Если значение данного свойства Истина, то при выполнении записи 
                                    или удаления данных будет производиться минимум проверок, так как 
                                    при этом делается предположение, что производится запись данных, 
                                    полученных через механизмы обмена данными, и эти данные корректны.
                                </doc>
                            </param>
                            <param name="writeMode" type="enterprise:DocumentWriteMode" style="query">
                                <doc>
                                    Позволяет выбрать один из возможных режимов записи. (Значение по умолчанию: Запись )
                                </doc>
                            </param>
                            <param name="postingMode" type="enterprise:DocumentPostingMode" style="query">
                                <doc>
                                    Позволяет выбрать один из возможных режимов проведения. Значение по умолчанию: Неоперативный (Regular)
                                </doc>
                            </param>
                            <representation mediaType="application/xml" />
                        </request>
                        <response status="204"/>
                    </method>
                    <method name="DELETE" id="remove">
                        <doc>remove document instance</doc>
                        <response status="204"/>
                    </method>
                </resource>
            </resource>
        </resource>
        <resource path="informationregisters" id="ru.ilb.xdtoservices.api.InformationRegistersResource">
            <method name="POST" id="create">
                <doc>Создать/обновить регистр сведений</doc>
                <request>
                    <representation mediaType="application/xml" />
                </request>
                <response status="204"/>
            </method>
            
            <resource path="{registerName}">
                <param name="registerName" type="xsd:string" style="template">
                    <doc>register name</doc>
                </param>
                <method name="GET" id="list">
                    <doc>get register contents</doc>
                    <response status="200">
                        <representation mediaType="application/xml" />
                    </response>
                </method>
            </resource>
        </resource>        
        <resource path="session">
            <resource path="logout">
                <method name="POST" id="logout">
                    <request>
                    </request>
                    <response status="200">
                        <representation mediaType="text/plain" />
                    </response>
                </method>
            </resource>
        </resource>
        
    </resources>
</application> 
